.button {
    border: none;
    width: 100%;
    height: 56px;
    color: rgb(51 144 236);
    background-color: rgb(255 255 255);
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.15s, color 0.15s;
}

.button:hover {
    background-color: rgb(241 247 252);
}
